/* Fonts style section from google fonts work sans */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

/* shared styles */

*{
    font-family: 'Work Sans', sans-serif;

    padding: 0px;
    margin: 0px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
margin-bottom: 20px;
}

/* header section */
.banner-section{
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a{
text-decoration: none;
margin-right: 25px;
color:#424242;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 26px;

}
.company-title{
color:#131313;
text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.header-section{
    background-color:rgba(255, 144, 14, 0.10);
}

/* banner section */
.text-banner{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
color:  #131313;
text-align: center;
font-family: Work Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

.banner-description{
color: #727272;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-bottom:20px;

}


.banner-section img{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 60px auto;
}
/* teams styles */
.team-container{
    display: flex;
    align-items: center;
}
.teams-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 2.8rem;
}
.team-title .quiklist{
    color:gray;
    font-weight: 500;
}
.team-title .featur-text{
    color: orange;
    font-weight: 700px;
}
    /* facts container */
    .facts{
        margin: 40px;
    }


    .card-container .card{
        border-radius: 8px;
        border: 1px solid orange;
        text-align: center;
        padding:30px;

        /* font-size: 2.8rem; */


    
    }
    .card-container .card-title{
        font-weight: 600;
        color: #727272;
        font-size: 1.25rem;
        margin-top: 5px;
    }
    .card-container .card-state{
        font-size: 2.8rem;
        color: #424242;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .card-container{
        display: flex;
        justify-content: space-around;
        margin: 30px;
    }
    

/* Responsive section by media query */

/* for mobile devices max 576px */

@media screen and (max-width:576px) {
    .banner-section{
        padding: 20px;
    }
    nav,
    .team-container{
       flex-direction: column;
        
    }

    .text-banner{
        width: 100%;
        
    }

    .teams-images{
        grid-template-columns: 1fr;
    }

    .teams-content{
        padding-right: 20px;
        padding-left: 20px;
    }



    /* teams container */
}

/* for mobile devices for tabltet device */

@media screen and (min-width:577px) and (max-width:960px){
    .banner-section{
        padding: 50px;
    }
    nav,
     .team-container{
       flex-direction: column;
        
    }

    .text-banner{
        width: 100%;
        
    }

    
}